mixin field(skid)
  td(class=skid.color data-toggle="tooltip" data-placement="top" data-container="body" title=skid.name + " - " + skid.circulations)= skid.skid
    //- p= skid.name
    //- p= skid.circulations

mixin progressbar(sum)
  .progress
    .progress-bar.progress-bar-success(style="width:" + sum.success + "%")
    .progress-bar.progress-bar-warning(style="width:" + sum.warning + "%")
    .progress-bar.progress-bar-danger(style="width:" + sum.danger + "%")
    .progress-bar.progress-bar-info(style="width:" + sum.info + "%")

mixin details(data)
  .row
    .col-xs-6
      .panel.panel-info
        .panel-heading
          h3 Details
        table.table.table-condensed.table-hover
          each chunk in data
            each skid in chunk
              tr
                - var label = "label-" + skid.color
                td=skid.skid
                td #{skid.name} <span class="label #{label}">#{skid.circulations}</span>


doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1")
    meta(http-equiv="refresh" content= refresh)
    link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/dashboard/colors.css")

    script(type="text/javascript" src="/lib/jquery/dist/jquery.min.js")
    script(type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js")

    body
      .container-fluid
        .row
          .col-xs-12
            .panel.panel-primary
              .panel-heading
                .row
                  .col-xs-8
                    h2 #{count} Skids in der Anlage
                    h3 #{update}
                  .col-xs-4
                    h2
                      span.label.label-success= summary.success
                      span.label.label-warning= summary.warning
                      span.label.label-danger= summary.danger
                      span.label.label-info= summary.info
                .row
                  .col-xs-12
                    +progressbar(percent)
              table#grid.table.table-bordered(style="text-align: center;")
                each chunk in data
                  tr
                    each skid in chunk
                      +field(skid)
      script
        include skidCirculations.js
